{% load static %}
<script src="{% static 'assets/vendors/datatables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/vendors/datatables/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/vendors/datatables/js/dataTables.select.min.js' %}"></script>
<script src="{% static 'assets/vendors/datatables/js/jszip.min.js' %}"></script>
<script src="{% static 'assets/vendors/datatables/js/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/vendors/datatables/js/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/vendors/datatables/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/vendors/datatables/js/buttons.print.min.js' %}"></script>


