{% load static %}
<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
    <div class="c-sidebar-brand d-lg-down-none">
        <h3 href="#" class="text-white text-center">VINAWOOD</h3>
        {#          <svg class="c-sidebar-brand-full" width="118" height="46" alt="CoreUI Logo">#}
        {#            <use xlink:href="/static/assets/brand/coreui.svg#full"></use>#}
        {##}
        {#          </svg>#}
        {#          <svg class="c-sidebar-brand-minimized" width="46" height="46" alt="CoreUI Logo">#}
        {#            <use xlink:href="/static/assets/brand/coreui.svg#signet"></use>#}
        {##}
        {#          </svg>#}
    </div>
    <ul class="c-sidebar-nav">
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/">
            <svg class="c-sidebar-nav-icon">
                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
            </svg>
            Dashboard<span class="badge badge-info">NEW</span></a></li>
{#        <li class="c-sidebar-nav-title">VMS</li>#}
        <li class="c-sidebar-nav-item c-sidebar-nav-dropdown"><a
                class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" >
            <svg class="c-sidebar-nav-icon">
                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-puzzle"></use>
            </svg>
            Sales-Customer Service</a>
            <ul class="c-sidebar-nav-dropdown-items">
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'sales_dashboard' %}"><span
                        class="c-sidebar-nav-icon"></span> Dash board</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#"><span
                        class="c-sidebar-nav-icon"></span> Sales orders</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#"><span
                        class="c-sidebar-nav-icon"></span> Open Sales orders</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#"><span
                        class="c-sidebar-nav-icon"></span> Check list</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#"><span
                        class="c-sidebar-nav-icon"></span> Sales forecast</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#"><span
                        class="c-sidebar-nav-icon"></span> Reports</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#"><span
                        class="c-sidebar-nav-icon"></span> Master files</a></li>
            </ul>
        </li>
        <li class="c-sidebar-nav-item c-sidebar-nav-dropdown"><a
                class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
            <svg class="c-sidebar-nav-icon">
                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-cursor"></use>
            </svg>
            Purchasing</a>


            <ul class="c-sidebar-nav-dropdown-items">
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/buttons.html"><span
                        class="c-sidebar-nav-icon"></span> Dashboard</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/buttons-group.html"><span
                        class="c-sidebar-nav-icon"></span> Purchase Orders</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/buttons-dropdowns.html"><span
                        class="c-sidebar-nav-icon"></span> PO Tracking</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/buttons-brand.html"><span
                        class="c-sidebar-nav-icon"></span> Payment request</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/buttons-brand.html"><span
                        class="c-sidebar-nav-icon"></span> Price list</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/buttons-brand.html"><span
                        class="c-sidebar-nav-icon"></span> Reports</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/buttons-brand.html"><span
                        class="c-sidebar-nav-icon"></span> Purchase Control</a></li>
            </ul>
        </li>
        {#            Inventories#}
        <li class="c-sidebar-nav-item c-sidebar-nav-dropdown"><a
                class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
            <svg class="c-sidebar-nav-icon">
                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-chart-pie"></use>
            </svg>
            Inventories</a>
            <ul class="c-sidebar-nav-dropdown-items">
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/buttons.html"><span
                        class="c-sidebar-nav-icon"></span> Dashboard</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/buttons-group.html"><span
                        class="c-sidebar-nav-icon"></span> Stock In</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/buttons-dropdowns.html"><span
                        class="c-sidebar-nav-icon"></span> Stock Issue</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/buttons-brand.html"><span
                        class="c-sidebar-nav-icon"></span> Current Stock</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/buttons-brand.html"><span
                        class="c-sidebar-nav-icon"></span> Reports</a></li>
            </ul>
        </li>
{#        Production   #}
        <li class="c-sidebar-nav-dropdown"><a class="c-sidebar-nav-dropdown-toggle" href="#">
            <svg class="c-sidebar-nav-icon">
                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-industry-slash"></use>
            </svg>
            Production</a>
            <ul class="c-sidebar-nav-dropdown-items">
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/icons-free.html"> Dashboard<span
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/icons-free.html"> Work Order<span
{#                        class="badge badge-success">Free</span></a></li>#}
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/icons-brand.html"> Open Work Orders</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/icons-flag.html"> Prod. Journal</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/icons-flag.html"> Reports</a></li>
            </ul>
        </li>
        {#        Planning   #}
        <li class="c-sidebar-nav-dropdown"><a class="c-sidebar-nav-dropdown-toggle" href="#">
            <svg class="c-sidebar-nav-icon">
                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-line-style"></use>
            </svg>
            Planning</a>
            <ul class="c-sidebar-nav-dropdown-items">
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#"> Dashboard</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#"> Log production planning<span
                        class="badge badge-success">new</span></a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#"> Lumber Production planning</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#"> FG production planning</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#"> Shipping planning</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#"> Reports</a></li>
            </ul>
        </li>
{#        Accounting   #}
        <li class="c-sidebar-nav-dropdown"><a class="c-sidebar-nav-dropdown-toggle" href="#">
            <svg class="c-sidebar-nav-icon c-icon">
                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-bank"></use>
            </svg>
            Accounting</a>
            <ul class="c-sidebar-nav-dropdown-items">
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#"> Dashboard<span
                    class="badge badge-success">2022</span></a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#"> Receivable<span
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#"> Payable</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#"> Banking</a></li>
            </ul>
        </li>


        <li class="c-sidebar-nav-divider"></li>
        <li class="c-sidebar-nav-title">System Admin</li>
        <li class="c-sidebar-nav-item c-sidebar-nav-dropdown"><a
                class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
            <svg class="c-sidebar-nav-icon">
                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-football"></use>
            </svg>
            Master files</a>
            <ul class="c-sidebar-nav-dropdown-items">
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'wood_definition' %}" target="_top">
                    <svg class="c-sidebar-nav-icon">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-grain"></use>
                    </svg>
                    Wood Definition</a></li>
            </ul>
            <ul class="c-sidebar-nav-dropdown-items">
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#" target="_top">
                    <svg class="c-sidebar-nav-icon">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-briefcase"></use>
                    </svg>
                    System Administration</a></li>
            </ul>
        </li>
    </ul>

    <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent"
            data-class="c-sidebar-minimized"></button>
</div>
