{% extends "layouts/base.html" %}
{% load static %}
{% load humanize %}
{% block title %} Profile Master {% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Profile Master</li>
{% endblock %}
{% block stylesheets %}
    <style>
        .bolded {
            color: indigo;
            font-weight: bold;
        }
    </style>
{% endblock %}
{% block content %}
    <main class="c-main">
        <div class="container-fluid">
            <div class="fade-in">
                <div class="row">
                    <div class="col-sm-12 pb-3">
                        <a href="#" class="btn btn-outline-primary btn-sm">Thêm</a>
                        <a href="#" class="btn btn-sm btn-outline-danger">Import Excel</a>
                    </div>
                    <div class="search-list col-sm-12">

                        <table id="aTable" class="display table-hover table-striped" style="grid-auto-rows:auto ">
                            <thead class="thead-light">
                            <tr>
                                <th>Master ID</th>
                                <th>Master Group Name</th>
                                <th>Sales Target</th>
                                <th>Sửa</th>
                                <th>Xóa</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in items %}
                                <tr>
                                    <td>{{ item.group_id }}</td>
                                    <td><a class="bolded" href="#">{{ item.group_name }}</a></td>
                                    <td>{{ item.sales_target|intcomma }}</td>
                                    <td><a class="btn btn-sm btn-outline-danger" href="#">Xóa</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>


                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#aTable').DataTable({
                "pageLength": {{ pageLength }},
            });
        });
    </script>
{% endblock %}
