{% extends "layouts/base.html" %}
{% load static %}
{% load humanize %}
{% block title %} Size Master {% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">SIZE DEFINITIONS</li>
{% endblock %}
{% block stylesheets %}
    {% include 'includes/dataTables_css.html' %}
{% endblock %}

{% block javascripts %}
    {% include 'includes/dataTables_scripts.html' %}
{% endblock %}

{% block content %}
    <main class="c-main">
        <div class="container-fluid">
            <div class="fade-in">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#length"
                                                    role="tab" aria-controls="length">
                                <svg class="c-icon">
                                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-calculator"></use>
                                </svg>
                                Length</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#thick" role="tab"
                                                    aria-controls="thick">
                                <svg class="c-icon">
                                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-basket"></use>
                                </svg>
                                Thick</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#logscale" role="tab"
                                                    aria-controls="logscale">
                                <svg class="c-icon">
                                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-chart-pie"></use>
                                </svg>
                                Log Scale</a>
                            </li>
                        </ul>


                        <div class="tab-content">
                            {# Length #}
                            <div class="tab-pane active pt-1" id="length" role="tabpanel">
                                <table id="tblength" class="dataTable display table-hover table-striped">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>MM</th>
                                        <th>Feet</th>
                                        <th>Inch</th>
                                        <th>Freq Used</th>
                                        <th>Xóa</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in length_list %}
                                        <tr>
                                            <td><a class="bolded" href="{% url 'length_update' item.mm %}">{{ item.mm }}</a></td>
                                            <td>{{ item.feet }}</td>
                                            <td>{{ item.inch }}</td>
                                            <td>{{ item.freqUsed }}</td>
                                            <td>
                                                <button class="btn btn-sm btn-outline-danger" type="button" data-toggle="modal" data-target="#length{{ item.mm}}">Xóa</button>

                                                <div class="modal fade" id="length{{ item.mm }}" tabindex="-1" role="dialog" aria-labelledby="length" aria-hidden="false">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title justify-content-center">Delete confirmation</h4>
                                                                <button class="close" type="button" data-dismiss="modal"
                                                                        aria-label="Close"><span
                                                                        aria-hidden="true">×</span></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form action="{% url 'length_delete' item.mm %}"
                                                                      method="POST">
                                                                    {% csrf_token %}
                                                                    <div class="row justify-content-center"><strong>Are you sure to delete length {{ item }}mm?</strong></div>
                                                                    <div class="divider pb-3">
                                                                    </div>
                                                                    <div class="row justify-content-center">
                                                                        <input class="btn btn-warning pr-3" style="width: 25%" type="submit" value="Yes"/>
                                                                        <button class="btn btn-secondary pl-3" style="width: 25%" type="button" data-dismiss="modal"> Cancel </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer justify-content-center">
                                                                   <small class="text-danger">Warning: your are permanently deleting data from the database.</small>
                                                            </div>
                                                        </div>
                                                        <!-- /.modal-content-->
                                                    </div>
                                                    <!-- /.modal-dialog-->
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <script>
                                        $(document).ready(function () {
                                            var table = $('#tblength').DataTable({
                                                "pageLength": {{ pageLength }},
                                                select: true,
                                                dom: 'Bfrtip',
                                                buttons: [
                                                    'excel', 'pdf', 'print',
                                                    {
                                                        text: 'Import from Excel',
                                                        action: function (e, dt, node, config) {
                                                            window.location.href = '{% url 'master_file_upload' %}';
                                                        }
                                                    },
                                                    {
                                                        text: 'Insert',
                                                        action: function (e, dt, node, config) {
                                                            window.location.href = '{% url 'length_create' %}';
                                                        }
                                                    },
                                                ],
                                            });

                                            $('a.toggle-vis').on('click', function (e) {
                                                e.preventDefault();
                                                // Get the column API object
                                                var column = table.column($(this).attr('data-column'));
                                                // Toggle the visibility
                                                column.visible(!column.visible());
                                            });
                                        });
                                    </script>
                                </table>
                            </div>
                            {# Thick #}
                            <div class="tab-pane pt-1" id="thick" role="tabpanel">
                                <table id="tbThick" class="dataTable display table-hover table-striped">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>MM</th>
                                        <th>CM</th>
                                        <th>Inch</th>
                                        <th>Xóa</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in thick_list %}
                                        <tr>
                                            <td><a class="bolded" href="{% url 'thick_update' item.mm %}">{{ item.mm }}</a></td>
                                            <td>{{ item.cm }}</td>
                                            <td>{{ item.inch }}</td>
                                            <td>
                                                <button class="btn btn-sm btn-outline-danger" type="button" data-toggle="modal" data-target="#a{{ item.mm }}">Xóa</button>

                                                <div class="modal fade" id="a{{ item.mm }}" tabindex="-1"
                                                     role="dialog" aria-labelledby="profile_master" aria-hidden="false">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title justify-content-center">Delete confirmation</h4>
                                                                <button class="close" type="button" data-dismiss="modal"
                                                                        aria-label="Close"><span
                                                                        aria-hidden="true">×</span></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form action="{% url 'thick_delete' item.mm %}"
                                                                      method="POST">
                                                                    {% csrf_token %}
                                                                    <div class="row justify-content-center"><strong>Are you sure to delete Thick: "{{ item }}"mm?</strong></div>
                                                                    <div class="divider pb-3">
                                                                    </div>
                                                                    <div class="row justify-content-center">
                                                                        <input class="btn btn-warning pr-3" style="width: 25%" type="submit" value="Yes"/>

                                                                        <button class="btn btn-secondary pl-3" style="width: 25%" type="button" data-dismiss="modal"> Cancel </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer justify-content-center">
                                                               <div class="row justify-content-center">
                                                                   <small class="text-danger">Warning: your are deleting data from the database.</small>
                                                               </div>
                                                            </div>
                                                        </div>
                                                        <!-- /.modal-content-->
                                                    </div>
                                                    <!-- /.modal-dialog-->
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                    <script>
                                        $(document).ready(function () {
                                            var table = $('#tbThick').DataTable({
                                                "pageLength": {{ pageLength }},
                                                select: true,
                                                dom: 'Bfrtip',
                                                buttons: [
                                                    'excel', 'pdf', 'print',
                                                    {
                                                        text: 'Import from Excel',
                                                        action: function (e, dt, node, config) {
                                                            window.location.href = '{% url 'master_file_upload' %}';
                                                        }
                                                    },
                                                    {
                                                        text: 'Insert',
                                                        action: function (e, dt, node, config) {
                                                            window.location.href = '{% url 'thick_create' %}';
                                                        }
                                                    }
                                                ],
                                            });

                                            $('a.toggle-vis').on('click', function (e) {
                                                e.preventDefault();
                                                // Get the column API object
                                                var column = table.column($(this).attr('data-column'));
                                                // Toggle the visibility
                                                column.visible(!column.visible());
                                            });

                                        });
                                    </script>
                                </table>
                            </div>
                            {# logscale #}
                            <div class="tab-pane pt-1" id="logscale" role="tabpanel">
                                <table id="tbLogScale" class="dataTable display table-hover table-striped">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>Diameter</th>
                                        <th>Length</th>
                                        <th>Board Feet</th>
                                        <th>Xóa</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in log_scale_list %}
                                        <tr>
                                            <td>
                                                <a class="bolded" href="{% url 'log_scale_update' item.id %}">{{ item.dia }}</a>
                                            </td>
                                            <td>{{ item.length }}</td>
                                            <td>{{ item.BF }}</td>
                                            <td>
                                                <button class="btn btn-sm btn-outline-danger" type="button" data-toggle="modal" data-target="#ls{{ item.id }}">Xóa</button>
                                                <div class="modal fade" id="ls{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="profile" aria-hidden="false">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title justify-content-center">Delete confirmation</h4>
                                                                <button class="close" type="button" data-dismiss="modal"
                                                                        aria-label="Close"><span
                                                                        aria-hidden="true">×</span></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form action="{% url 'log_scale_delete' item.id %}"
                                                                      method="POST">
                                                                    {% csrf_token %}
                                                                    <div class="row justify-content-center"><strong>Are you sure to delete "{{ item }}" ?</strong></div>
                                                                    <div class="divider pb-3">
                                                                    </div>
                                                                    <div class="row justify-content-center">
                                                                        <input class="btn btn-warning pr-3" style="width: 25%" type="submit" value="Yes"/>
                                                                        <button class="btn btn-secondary pl-3" style="width: 25%" type="button" data-dismiss="modal"> Cancel </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer justify-content-center">
                                                                   <small class="text-danger">Warning: your are deleting data from the database.</small>
                                                            </div>
                                                        </div>
                                                        <!-- /.modal-content-->
                                                    </div>
                                                    <!-- /.modal-dialog-->
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <script>
                                        $(document).ready(function () {
                                            var table = $('#tbLogScale').DataTable({
                                                "pageLength": {{ pageLength }},
                                                select: true,
                                                dom: 'Bfrtip',
                                                buttons: [
                                                    'excel', 'pdf', 'print',
                                                    {
                                                        text: 'Import from Excel',
                                                        action: function () {
                                                            window.location.href = '{% url 'master_file_upload' %}';
                                                        }
                                                    },
                                                    {
                                                        text: 'Insert',
                                                        action: function (e, dt, node, config) {
                                                            window.location.href = '{% url 'log_scale_create' %}';
                                                        }
                                                    }
                                                ],
                                            });

                                            $('a.toggle-vis').on('click', function (e) {
                                                e.preventDefault();
                                                // Get the column API object
                                                var column = table.column($(this).attr('data-column'));
                                                // Toggle the visibility
                                                column.visible(!column.visible());
                                            });

                                        });
                                    </script>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

