{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Warehouse {% endblock %}

{% block stylesheets %}
    {% include 'includes/dataTables_css.html' %}
{% endblock %}

{% block javascripts %}
    {% include 'includes/dataTables_scripts.html' %}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page"><strong>Warehouse</strong></li>
{% endblock %}

{% block content %}
    <main class="c-main">
        <div class="container-fluid">
            <div class="fade-in">
                <div class="row">
                    <table id="aTable" class="table display table-hover table-striped">
                        <thead class="thead-light">
                        <tr>
                            <th>Type</th>
                            <th>Code</th>
                            <th>Description</th>
                            <th>Credit Acc</th>
                            <th>Debit Acc</th>
                            <th>Xóa</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in warehouse_list %}
                            <tr>
                                <td>{{ item.type }}</td>
                                <td><a href="{% url 'warehouse_update' item.id %}">{{ item.id }}</a></td>
                                <td>{{ item.description }}</td>

                                <td>{{ item.credit_acc }}</td>
                                <td>{{ item.debit_acc }}</td>
                                <td>
                                    <a class="btn btn-sm btn-outline-danger" type="button" data-toggle="modal" data-target="#{{ item.id }}">Xóa</a>

                                    <div class="modal fade" id={{ item.id }} tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title justify-content-center">Delete confirmation</h4>
                                                    <button class="close" type="button" data-dismiss="modal"
                                                            aria-label="Close"><span
                                                            aria-hidden="true">×</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{% url 'warehouse_delete' item.id %}"
                                                          method="POST">
                                                        {% csrf_token %}
                                                        <div class="row justify-content-center"><strong>Are you sure to delete "{{ item }}" ?</strong></div>
                                                        <div class="divider pb-3">
                                                        </div>
                                                        <div class="row justify-content-center">
                                                            <input class="btn btn-warning pr-3" style="width: 25%" type="submit" value="Yes"/>
                                                            <button class="btn btn-secondary pl-3" style="width: 25%" type="button" data-dismiss="modal"> Cancel </button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer justify-content-center">
                                                       <small class="text-danger">Warning: your are permanently deleting data from the database.</small>
                                                </div>
                                            </div>
                                            <!-- /.modal-content-->
                                        </div>
                                        <!-- /.modal-dialog-->
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <script>
                            $(document).ready(function () {
                                var table = $('#aTable').DataTable({
                                    "pageLength": {{ pageLength }},
                                    select: true,
                                    dom: 'Bfrtip',
                                    buttons: [
                                        'excel', 'pdf', 'print',
                                        {
                                            text: 'Insert',
                                            action: function (e, dt, node, config) {
                                                window.location.href = '{% url 'warehouse_create' %}';
                                            }
                                        }
                                    ],
                                });

                                $('a.toggle-vis').on('click', function (e) {
                                    e.preventDefault();
                                    // Get the column API object
                                    var column = table.column($(this).attr('data-column'));
                                    // Toggle the visibility
                                    column.visible(!column.visible());
                                });

                            });
                        </script>
                    </table>
                </div>
            </div>
        </div>
    </main>
{% endblock %}




