{% extends "layouts/base.html" %}
{% load static %}
{% load humanize %}
{% block title %} Profile Master {% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">WOOD DEFINITIONS</li>
{% endblock %}
{% block stylesheets %}
    {% include 'includes/dataTables_css.html' %}
{% endblock %}

{% block javascripts %}
    {% include 'includes/dataTables_scripts.html' %}
{% endblock %}

{% block content %}
    <main class="c-main">
        <div class="container-fluid">
            <div class="fade-in">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#profilemaster"
                                                    role="tab" aria-controls="profilemaster">
                                <svg class="c-icon">
                                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-calculator"></use>
                                </svg>
                                Profile master</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#profile" role="tab"
                                                    aria-controls="profile">
                                <svg class="c-icon">
                                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-basket"></use>
                                </svg>
                                Profiles</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#woodtype" role="tab"
                                                    aria-controls="woodtype">
                                <svg class="c-icon">
                                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-chart-pie"></use>
                                </svg>
                                WoodType</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#sortgroup" role="tab"
                                                    aria-controls="sortgroup">
                                <svg class="c-icon">
                                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-chart-pie"></use>
                                </svg>
                                Sort Group</a></li>
                        </ul>


                        <div class="tab-content">
                            {# profile master#}
                            <div class="tab-pane active pt-1" id="profilemaster" role="tabpanel">
                                <table id="tbProfileMaster" class="dataTable display table-hover table-striped">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>Master ID</th>
                                        <th>Master Group Name</th>
                                        <th>Sales Target</th>
                                        <th>Xóa</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in profile_master_list %}
                                        <tr>
                                            <td>{{ item.group_id }}</td>
                                            <td><a class="bolded"
                                                   href="{% url 'profile_master_update' item.group_id %}">{{ item.group_name }}</a>
                                            </td>
                                            <td>{{ item.sales_target|intcomma }}</td>
                                            <td>
                                                <button class="btn btn-sm btn-outline-danger" type="button" data-toggle="modal" data-target="#pm{{ item.group_id }}">Xóa</button>

                                                <div class="modal fade" id="pm{{ item.group_id }}" tabindex="-1"
                                                     role="dialog" aria-labelledby="profile_master" aria-hidden="false">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title justify-content-center">Delete confirmation</h4>
                                                                <button class="close" type="button" data-dismiss="modal"
                                                                        aria-label="Close"><span
                                                                        aria-hidden="true">×</span></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form action="{% url 'profile_master_delete' item.group_id %}"
                                                                      method="POST">
                                                                    {% csrf_token %}
                                                                    <div class="row justify-content-center"><strong>Are you sure to delete "{{ item }}" ?</strong></div>
                                                                    <div class="divider pb-3">
                                                                    </div>
                                                                    <div class="row justify-content-center">
                                                                        <input class="btn btn-warning pr-3" style="width: 25%" type="submit" value="Yes"/>

                                                                        <button class="btn btn-secondary pl-3" style="width: 25%" type="button" data-dismiss="modal"> Cancel </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer justify-content-center">
                                                               <div class="row justify-content-center">
                                                                   <small class="text-danger">Warning: your are deleting data from the database.</small>
                                                               </div>
                                                            </div>
                                                        </div>
                                                        <!-- /.modal-content-->
                                                    </div>
                                                    <!-- /.modal-dialog-->
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                    <script>
                                        $(document).ready(function () {
                                            var table = $('#tbProfileMaster').DataTable({
                                                "pageLength": {{ pageLength }},
                                                select: true,
                                                dom: 'Bfrtip',
                                                buttons: [
                                                    'excel', 'pdf', 'print',
                                                    {
                                                        text: 'Import from Excel',
                                                        action: function (e, dt, node, config) {
                                                            window.location.href = '{% url 'master_file_upload' %}';
                                                        }
                                                    },
                                                    {
                                                        text: 'Insert',
                                                        action: function (e, dt, node, config) {
                                                            window.location.href = '{% url 'profile_master_create' %}';
                                                        }
                                                    }
                                                ],
                                            });

                                            $('a.toggle-vis').on('click', function (e) {
                                                e.preventDefault();
                                                // Get the column API object
                                                var column = table.column($(this).attr('data-column'));
                                                // Toggle the visibility
                                                column.visible(!column.visible());
                                            });

                                        });
                                    </script>
                                </table>
                            </div>
                            {# profiles #}
                            <div class="tab-pane pt-1" id="profile" role="tabpanel">
                                <table id="tbProfile" class="table display table-hover table-striped">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>Group Master</th>
                                        <th>Profile ID</th>
                                        <th>Short Name</th>
                                        <th style="width: max-content">Description</th>
                                        <th>Images</th>
                                        <th>Width</th>
                                        <th>Thick</th>
                                        <th>CBM/Feet</th>
                                        <th>M2/Feet</th>
                                        <th>Bundle</th>
                                        <th>Xóa</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in profile_list %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'profile_master_update' item.group_master_id %}">{{ item.group_master }}</a>
                                            </td>
                                            <td>{{ item.profile_id }}</td>
                                            <td><a class="bolded"
                                                   href="{% url 'profile_update' item.profile_id %}">{{ item.profile_sym }}</a>
                                            </td>
                                            <td style="width: max-content">{{ item.description }}</td>
                                            <td>{% if item.image %}
                                                <img src="{{ item.image.url }}">
                                            {% endif %} </td>
                                            <td>{{ item.width }}</td>
                                            <td>{{ item.thick }}</td>
                                            <td>{{ item.CBM_Feet }}</td>
                                            <td>{{ item.M2_Feet }}</td>
                                            <td>{{ item.bundle|intcomma }}</td>
                                            <td>
                                                <button class="btn btn-sm btn-outline-danger" type="button" data-toggle="modal" data-target="#pf{{ item.profile_id }}">Xóa</button>
                                                <div class="modal fade" id="pf{{ item.profile_id }}" tabindex="-1" role="dialog" aria-labelledby="profile" aria-hidden="false">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title justify-content-center">Delete confirmation</h4>
                                                                <button class="close" type="button" data-dismiss="modal"
                                                                        aria-label="Close"><span
                                                                        aria-hidden="true">×</span></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form action="{% url 'profile_delete' item.profile_id %}"
                                                                      method="POST">
                                                                    {% csrf_token %}
                                                                    <div class="row justify-content-center"><strong>Are you sure to delete "{{ item }}" ?</strong></div>
                                                                    <div class="divider pb-3">
                                                                    </div>
                                                                    <div class="row justify-content-center">
                                                                        <input class="btn btn-warning pr-3" style="width: 25%" type="submit" value="Yes"/>
                                                                        <button class="btn btn-secondary pl-3" style="width: 25%" type="button" data-dismiss="modal"> Cancel </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer justify-content-center">
                                                                   <small class="text-danger">Warning: your are deleting data from the database.</small>
                                                            </div>
                                                        </div>
                                                        <!-- /.modal-content-->
                                                    </div>
                                                    <!-- /.modal-dialog-->
                                                </div>
                                            </td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <script>
                                        $(document).ready(function () {
                                            var table = $('#tbProfile').DataTable({
                                                "pageLength": {{ pageLength }},
                                                select: true,
                                                dom: 'Bfrtip',
                                                buttons: [
                                                    'excel', 'pdf', 'print',
                                                    {
                                                        text: 'Import from Excel',
                                                        action: function () {
                                                            window.location.href = '{% url 'master_file_upload' %}';
                                                        }
                                                    },
                                                    {
                                                        text: 'Insert',
                                                        action: function (e, dt, node, config) {
                                                            window.location.href = '{% url 'profile_create' %}';
                                                        }
                                                    }
                                                ],
                                            });

                                            $('a.toggle-vis').on('click', function (e) {
                                                e.preventDefault();
                                                // Get the column API object
                                                var column = table.column($(this).attr('data-column'));
                                                // Toggle the visibility
                                                column.visible(!column.visible());
                                            });

                                        });
                                    </script>
                                </table>
                            </div>
                            {# Wood Type #}
                            <div class="tab-pane pt-1" id="woodtype" role="tabpanel">
                                <table id="tbWoodtype" class="dataTable display table-hover table-striped">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>Short Name</th>
                                        <th>Description</th>
                                        <th>Parent</th>
                                        <th>Wood Group</th>
                                        <th>Prod Type</th>
                                        <th>Freq Used</th>
                                        <th>Reported</th>
                                        <th>Xóa</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in wood_type_list %}
                                        <tr>
                                            <td>{{ item.wood_type_id }}</td>
                                            <td>{{ item.sym }}</td>
                                            <td><a class="bolded" href="{% url 'wood_type_update' item.wood_type_id%}">{{ item.description }}</a></td>
                                            <td>{{ item.parent_id }}</td>
                                            <td>{{ item.wood_group }}</td>
                                            <td>{{ item.prod_type }}</td>
                                            <td>{{ item.freqUse }}</td>
                                            <td>{{ item.bod_view }}</td>
                                            <td>
                                                <button class="btn btn-sm btn-outline-danger" type="button" data-toggle="modal" data-target="#wt{{ item.wood_type_id }}">Xóa</button>
                                                <div class="modal fade" id="wt{{ item.wood_type_id }}" tabindex="-1" role="dialog" aria-labelledby="wood_type" aria-hidden="false">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title justify-content-center">Delete confirmation</h4>
                                                                <button class="close" type="button" data-dismiss="modal"
                                                                        aria-label="Close"><span
                                                                        aria-hidden="true">×</span></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form action="{% url 'wood_type_delete' item.wood_type_id %}"
                                                                      method="POST">
                                                                    {% csrf_token %}
                                                                    <div class="row justify-content-center"><strong>Are you sure to delete "{{ item }}" ?</strong></div>
                                                                    <div class="divider pb-3">
                                                                    </div>
                                                                    <div class="row justify-content-center">
                                                                        <input class="btn btn-warning pr-3" style="width: 25%" type="submit" value="Yes"/>
                                                                        <button class="btn btn-secondary pl-3" style="width: 25%" type="button" data-dismiss="modal"> Cancel </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer justify-content-center">
                                                                   <small class="text-danger">Warning: your are deleting data from the database.</small>
                                                            </div>
                                                        </div>
                                                        <!-- /.modal-content-->
                                                    </div>
                                                    <!-- /.modal-dialog-->
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <script>
                                        $(document).ready(function () {
                                            var table = $('#tbWoodtype').DataTable({
                                                "pageLength": {{ pageLength }},
                                                select: true,
                                                dom: 'Bfrtip',
                                                buttons: [
                                                    'excel', 'pdf', 'print',
                                                    {
                                                        text: 'Import from Excel',
                                                        action: function (e, dt, node, config) {
                                                            window.location.href = '{% url 'master_file_upload' %}';
                                                        }
                                                    },
                                                    {
                                                        text: 'Insert',
                                                        action: function (e, dt, node, config) {
                                                            window.location.href = '{% url 'wood_type_create' %}';
                                                        }
                                                    }
                                                ],
                                            });

                                            $('a.toggle-vis').on('click', function (e) {
                                                e.preventDefault();
                                                // Get the column API object
                                                var column = table.column($(this).attr('data-column'));
                                                // Toggle the visibility
                                                column.visible(!column.visible());
                                            });

                                        });
                                    </script>
                                </table>
                            </div>
                            {# Sort Group #}
                            <div class="tab-pane pt-1" id="sortgroup" role="tabpanel">
                                <table id="tbsortgroup" class="dataTable display table-hover table-striped">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>Description</th>
                                        <th>Short name</th>
                                        <th>Parent</th>
                                        <th>Freq Used</th>
                                        <th>Xóa</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in soft_group_list %}
                                        <tr>
                                            <td>{{ item.id }}</td>
                                            <td><a class="bolded" href="{% url 'sort_group_update'  item.id %}">{{ item.description }}</a></td>
                                            <td>{{ item.sym }}</td>
                                            <td>{{ item.parent }}</td>
                                            <td>{{ item.freqUse }}</td>
                                            <td>
{#                                                <a class="btn btn-sm btn-outline-danger" type="button" data-toggle="modal" data-target="#{{ item.id }}"#}
{#                                                    href="{% url 'sort_group_delete' item.id %}">Xóa</a>#}
                                                <button class="btn btn-sm btn-outline-danger" type="button" data-toggle="modal" data-target="#sg{{ item.id }}">Xóa</button>

                                            </td>
                                            <div class="modal fade" id="sg{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="sort_group" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title justify-content-center">Delete confirmation</h4>
                                                                <button class="close" type="button" data-dismiss="modal"
                                                                        aria-label="Close"><span
                                                                        aria-hidden="true">×</span></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form action="{% url 'sort_group_delete' item.id %}"
                                                                      method="POST">
                                                                    {% csrf_token %}
                                                                    <div class="row justify-content-center"><strong>Are you sure to delete "{{ item }}" ?</strong></div>
                                                                    <div class="divider pb-3">
                                                                    </div>
                                                                    <div class="row justify-content-center">
                                                                        <input class="btn btn-warning pr-3" style="width: 25%" type="submit" value="Yes"/>
                                                                        <button class="btn btn-secondary pl-3" style="width: 25%" type="button" data-dismiss="modal"> Cancel </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer justify-content-center">
                                                                   <small class="text-danger">Warning: your are deleting data from the database.</small>
                                                            </div>
                                                        </div>
                                                        <!-- /.modal-content-->
                                                    </div>
                                                    <!-- /.modal-dialog-->
                                                </div>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <script>
                                        $(document).ready(function () {
                                            var table = $('#tbsortgroup').DataTable({
                                                "pageLength": {{ pageLength }},
                                                select: true,
                                                dom: 'Bfrtip',
                                                buttons: [
                                                    'excel', 'pdf', 'print',
                                                    {
                                                        text: 'Import from Excel',
                                                        action: function (e, dt, node, config) {
                                                            window.location.href = '{% url 'master_file_upload' %}';
                                                        }
                                                    },
                                                    {
                                                        text: 'Insert',
                                                        action: function (e, dt, node, config) {
                                                            window.location.href = '{% url 'sort_group_create' %}';
                                                        }
                                                    }
                                                ],
                                            });

                                            $('a.toggle-vis').on('click', function (e) {
                                                e.preventDefault();
                                                // Get the column API object
                                                var column = table.column($(this).attr('data-column'));
                                                // Toggle the visibility
                                                column.visible(!column.visible());
                                            });

                                        });
                                    </script>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

