{% extends "layouts/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Delete {% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'wood_definition' %}">Wood Definition</a></li>
    <li class="breadcrumb-item active" aria-current="page">Delete</li>
{% endblock %}
{% block content %}
    <main class="c-main">
        <div class="container-fluid">
            <div class="fade-in">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header text-uppercase"><strong>Delete</strong></div>
                            <div class="card-body">
                                <form method="POST">
                                    {% csrf_token %}
                                    Are you want to delete "{{ item }}" ?
                                    <input class="btn btn-outline-warning" type="submit" value="Yes"/>
                                    <a class="btn btn-outline-primary" href="{% url 'wood_definition' %}">Cancel </a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
{% endblock %}