{% extends "layouts/base.html" %}

{% block title %} Health Check {% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Health Check</li>
{% endblock %}

{% block content %}
    <main class="c-main">
        <div class="container-fluid">

            <div class="fade-in">
                <div class="card-columns cols-sm-2">
                    <div class="card">
                        <div class="card-header">Status
                            <div class="card-header-actions"><a class="card-header-action" href="#"
                                                                target="_blank"><small
                                    class="text-muted">docs</small></a></div>
                        </div>
                        <div class="card-body">
                            <div class="c-chart-wrapper">
                                <canvas id="canvas-6"></canvas>

                            </div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'hc_create' %}" class="btn btn-sm btn-outline-info shadow mb-2">Thêm</a>
                <div class="row">
                    {% for hc in hc_list %}
                        <div class="col-sm-6 col-md-4">

                            <div class="card shadow">
                                <div class="card-header bg-facebook"><strong
                                        class="text-uppercase text-white">{{ hc.name }}</strong>
                                    <a href="{% url 'hc_update' hc.id %}" class="float-right text-white">Cập nhật</a>
                                </div>
                                <div class="card-body">
                                    <p>{{ hc.ngay }}</p>
                                    <p>{{ hc.noi_dung }}</p>

                                    <div class="c-chart-wrapper">
{#                                        <canvas id="canvas-6" data-url="{% url 'hc_chart' hc.id %}"></canvas>#}
                                        <canvas id="canvas-6"></canvas>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row justify-content-between">
                                        <a href="{% url 'hc_delete' hc.pk %}"
                                           class="btn btn-sm btn-outline-danger">Xóa</a>
                                        <a href="{% url 'hc_items' hc.pk %}" class="btn btn-sm btn-outline-primary">Chi
                                            tiết</a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.bundle.js"></script>
    <script src="/static/assets/js/charts.js"></script>

    <script>
        let paymentSuccessCtx = document.getElementById("canvas-6").getContext("2d");
        let paymentSuccessChart = new Chart(paymentSuccessCtx, {
            type: "pie",
            options: {
                responsive: true,
                layout: {
                    padding: {
                        left: 0,
                        right: 0,
                        top: 0,
                        bottom: 25
                    }
                }
            }
        });

    </script>
{% endblock %}