<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="en">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>
        VMS - {% block title %}{% endblock %}
    </title>
    <link rel="manifest" href="{% static 'assets/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'assets/favicon/favicon.ico' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- Main styles for this application-->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}

    {% endblock stylesheets %}
    {{ form.media }}
    {% load bootstrap4 %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body class="c-app">

{% include 'includes/sidebar.html' %}

<div class="c-wrapper c-fixed-components">

    {% include 'includes/navigation.html' %}
    <div class="c-subheader px-3">
        <!-- Breadcrumb-->
        <ol class="breadcrumb border-0 m-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            {% block breadcrumb %}

            {% endblock %}

            <!-- Breadcrumb Menu-->
        </ol>
    </div>
    <div class="c-body">

        {% block content %}{% endblock content %}

        {% include 'includes/footer.html' %}

    </div>

</div>

{% include 'includes/scripts.html' %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="{% static 'assets/js/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'assets/js/charts.js' %}"></script>
    <script src="{% static 'assets/js/vmschart.js' %}"></script>
{% endblock javascripts %}

</body>
</html>