{% extends "layouts/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} {{ form_name }} {% endblock %}
{% block breadcrumb %}
    {% if parent_name %}
        <li class="breadcrumb-item"><a href="{{ parent_link }}">{{ parent_name }}</a></li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">{{ form_name }}</li>
{% endblock %}
{% block content %}
    <main class="c-main">
        <div class="container-fluid">
            <div class="fade-in">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header text-uppercase"><strong>{{ form_name }}</strong></div>
                            <div class="card-body">
                                <form method="post">
                                  {% csrf_token %}
                                    {% crispy form %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

